{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}




      <div class="form-group form-group-lg" >

        {{form_label(form.fn, 'First Name')}} 
        {{form_widget(form.fn ,{'attr':{'class':'form-control'}} )}}
        {{form_errors(form.fn)}}

    </div>


 <div class="form-group" >

        {{form_label(form.ls, 'Last Name')}} 
        {{form_widget(form.ls ,{'attr':{'class':'form-control'}} )}}
        {{form_errors(form.ls)}}

    </div>

    <div class="form-group" >

        {{form_label(form.db, 'Date Of Birth')}} 
        {{form_widget(form.db ,{'attr':{'class':'form-control'}} )}}
        {{form_errors(form.db)}}

    </div>


    <div class="form-group" >

        {{form_label(form.adress, 'Adress')}} 
        {{form_widget(form.adress ,{'attr':{'class':'form-control'}} )}}
        {{form_errors(form.adress)}}

    </div>
 <div class="form-group" >

        {{form_label(form.phone, 'Phone')}} 
        {{form_widget(form.phone ,{'attr':{'class':'form-control'}} )}}
        {{form_errors(form.phone)}}

    </div>


<div class="form-group" >

        {{form_label(form.gender, 'gender')}} 
        {{form_widget(form.gender ,{'attr':{'class':'form-control'}} )}}
        {{form_errors(form.gender)}}

    </div>
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    
